<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServelt</display-name>
    <servlet-name>TestServelt</servlet-name>
    <servlet-class>com.test.TestServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServelt</servlet-name>
    <url-pattern>/TestServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServelt2</display-name>
    <servlet-name>TestServelt2</servlet-name>
    <servlet-class>com.test.TestServelt2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServelt2</servlet-name>
    <url-pattern>/TestServelt2</url-pattern>
  </servlet-mapping>
</web-app>